/* ====================== Контейнер гри ====================== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse 100% 150% at bottom, #1B2735 0%, #090A0F 100%);
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 30px;
  color: #00ffff;
  text-shadow: 0 0 0px #00ffff, 0 0 6px #00ffff;
  margin-top: 100px;
  text-align: center;
}

.gameContainer {
  border: 3px solid #00ffff; 
  background-color: #1a1a1a; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7), inset 0 0 10px rgba(0, 255, 255, 0.5);
}

/* ====================== Кнопки ====================== */
.playBtn {
  font-size: 20px;
    width: 150px;
    height: 50px;
    color: #00ff00;
    margin-top: 20px;
    background-color: #330033; 
    border: 2px solid #00ff00; 
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), inset 0 0 5px rgba(0, 255, 0, 0.5);
    cursor: pointer;
}


.playBtn:hover {
  background-color: #3a3a3a;
  box-shadow: inset 0 0 8px rgba(0, 255, 204, 0.5);
}

.playBtn:active {
  transform: scale(0.90);
}
